:root {
 --bordercolor: rgba(129, 118, 201, 0.75) solid 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: rgb(184, 221, 236);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header Section Start */
header {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
    justify-content: space-between;
    letter-spacing: 7px;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-attachment:fixed;
    background-position: 80%;
    border-bottom:var(--bordercolor);
}

.name{
    flex: 1;
}

.navigation{
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

header h1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color:rgb(199, 155, 61);
    background-color: rgba(238, 255, 238, 0.70);
    padding: 20px;
    font-weight: 100;
    font-size: 58px;
    margin: 40px 0 40px 0;
    border-radius: 0 20px 20px 0;
    text-shadow: 0 0 15px rgba(253, 252, 252, 0.5);  
}

header nav a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px;
    padding: 15px;
    margin: 10px 20px 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    background-color: rgba(238, 255, 238, 0.70);
    text-shadow: 0 0 5px rgba(0,0,0,0.5); 
    
}

header nav a:hover {
    background-color: rgba(238, 255, 238, .8);
    text-shadow: none; 
    
}
/* Header Section End */

/* Hero section Start */
.hero {
    display: flex;
    justify-content: flex-end;
}

.hero h2 {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(238, 255, 238, 0.70);
    background-size: cover;
    border-radius: 20px 0 0 20px;
    color:rgb(134, 99, 114);
    padding: 20px 100px 20px  20px;
    margin-top: 20px;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 3px;
    text-shadow: 0 0 15px rgba(253, 252, 252, 0.5);
    border-bottom:var(--bordercolor);
}
/* Hero section End */

/* About Me section Start */
.aboutsection, .displayflex, .bottom{
    display:flex;
    flex-wrap: wrap;
}

.aboutsection p {
    text-indent: 10%;
    word-spacing: 3px;
    line-height: 28px;
    padding: 4%
}

.aboutsection img {
    border: var(--bordercolor);
    border-radius: 30px;
    height: 200px;
    max-width: 100%;
}

.primarysectiontitle {
    flex:2;
    margin-left: 5%;
    width: 75%;
    padding: 20px;
    color:rgb(134 99 114);
    clear:both;
    width: 20%;
    letter-spacing: 6px;
    text-shadow: 0 0 15px rgba(253, 252, 252, 0.5);
    font-size: 1.2vw;
    text-align: right;
}

.paragraphbox {
    flex:7;
}

.aboutrightbuffer {
    flex: 4.75;
}
/* About Me section End */

/* Work section Start */ 
.worktitle {
    flex:0.8;
    color:rgb(134, 99, 114);
    letter-spacing: 6px;
    text-shadow: 0 0 15px rgba(253, 252, 252, 0.5);
    font-size: 2.0vw;
    text-align: right;
    padding: 3%;
}

.workbox {
    flex:3;
}

.mainproject { 
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 100%;
    padding: 10px;  
}

.mainproject:hover {
    opacity: 0.5;
}

.mainproject img {
    width: 100%;
    min-width: 600px;
    max-width: 600px;
    min-height: 300px;
    max-height: 300px;
    border: var(--bordercolor);
    border-radius: 30px;
    position: relative; 
}

.labelbox {
    background-color: rgba(129, 118, 201, 0.75);
    border-radius: 0 20px 20px 0;
    position:absolute;
    padding-right: 18px;
    margin: -10% 0 -10% 0;
}

h3 {
    font-size: 1.75vw;  
    color: black;
}

.codetype p {
    font-size: 1.2vw;
    color:black
}

.minorproject {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
}

.minorproject img {
    background-position: 80%;
    width: 100%;
    height: 100%;
    min-width: 300px;
    max-width: 400px;
    min-height: 200px;
    max-height: 200px;
    border: var(--bordercolor);
    border-radius: 30px;
    position: relative;
}

.labelbox2 {
    background-color: rgba(129, 118, 201, 0.75);
    border-radius: 0 20px 20px 0;
    position:absolute;
    padding-right: 18px;
    margin: -7% 0 -7% 0;
}

.project {
    flex: 1;
    padding: 20px;   
}

.project:hover {
    opacity: 0.5;
}

.workrightbuffer {
    flex: 1;
} 

.bottom {
    display:flex;
}

.bottom div {
    padding: 10px;
}
/* Work section Start */

/* Footer Start*/
footer {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
    justify-content: space-between;
    letter-spacing: 7px;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-attachment:fixed;
    background-position: 80%;
    border-top: var(--bordercolor);
}

.contactsection {
    flex: 1;
}

.contactnavigation{
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

footer h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color:rgb(199, 155, 61);
    background-color: rgba(238, 255, 238, 0.70);
    padding: 20px;
    font-weight: 100;
    font-size: 30px;
    margin: 20px 0 20px 0;
    border-radius: 0 20px 20px 0;
    text-shadow: 0 0 15px rgba(253, 252, 252, 0.5);
}


footer nav a {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    list-style: none;
    font-size: 20px;
    padding: 15px;
    margin: 10px 20px 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    background-color: rgba(238, 255, 238, 0.70);
    text-shadow: 0 0 5px rgba(0,0,0,0.5); 
}

footer nav a:hover {
    background-color: rgba(238, 255, 238, .8);
    text-shadow: none; 
    }
/* Footer End*/

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER 
(NOTE: ALWAYS HAVE THIS SECTION LAST) */

@media screen and (max-width: 850px) {
    .primarysectiontitle {
        flex:2;
        font-size: 2vw;
    }

    .aboutsection img {
        margin-top: 7%;
    }

    .aboutrightbuffer {
        flex: 0.8;
    }

    .worktitle {
        flex:6;
        font-size: 3.0vw;
       
    }

    h3 {
        font-size: 2vw;  

    }
    
    .codetype p {
        font-size: 1.75vw;
    }

    .labelbox2 {
        margin: -9% 0 -9% 0;
    }
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS Max-width 748px */
@media screen and (max-width: 748px) {

    .navigation{
        flex-wrap: wrap;
    }

    .aboutsection p {
        padding: 50px 20px;
    }

    .worktitle {
        flex:1;
        font-size: 3.0vw;
       
    }

    .mainproject img {
        min-width: 400px;
        max-width: 400px;
        min-height: 200px;
        max-height: 200px;
    }

    .minorproject img {
    min-width: 300px;
    max-width: 400px;
    min-height: 200px;
    max-height: 200px;
    }

    h3 {
        font-size: 4vw;  

    }

    .codetype p {
        font-size: 3vw;
    }

    .labelbox2 {
        margin: -12% 0 -12% 0;
    }
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS Max-width 426px */
@media screen and (max-width: 426px) {

    .primarysectiontitle {
        flex:2;
        font-size: 3vw;
        
    }

    .aboutsection p {
        padding: 50px 20px;
      
    }

    .aboutsection img {
        margin-top: 7%;
        margin-left: 110px;

    }

    .worktitle {
        flex:1;
        font-size: 5vw;
        text-align: center;
       
    }

    .mainproject {
        justify-content: center;
    }

    .mainproject img {
        min-width: 375px;
        max-width: 375px;
        min-height: 225px;
        max-height: 225px;
    }
    .project {
        flex: 1;
        padding: 5px;   
    }

    .workrightbuffer {
        flex: 0 0 0;
    } 

    .minorproject img {
        min-width: 300px;
        max-width: 300px;
        min-height: 200px;
        max-height: 200px;
    }

    h3 {
        font-size: 4vw;  

    }

    .labelbox {
        margin: -25% 0 -25% 0;
    }

    .codetype p {
        font-size: 3vw;
    }

    .labelbox2 {
        margin: -15% 0 -15% 0;
    }
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS Max-width 376px */
@media screen and (max-width: 376px){
    .primarysectiontitle {
        flex:2;
        font-size: 4vw;
        margin: 15px;
        
    }

    .aboutsection p {
        padding: 50px 20px;
      
    }

    .aboutsection img {
        margin: 7% 0 7% 45%;

    }

    .worktitle {
        flex:1;
        font-size: 6vw;
        text-align: center;
       
    }

    .mainproject {
        justify-content: center;
    }

    .mainproject img {
        min-width: 300px;
        max-width: 300px;
        min-height: 200px;
        max-height: 200px;
     
    }

    .project {
        flex: 1;
        padding: 5px;   
    } 

    .minorproject img {
        min-width: 300px;
        max-width: 300px;
        min-height: 200px;
        max-height: 200px;
        margin-left: 0px;
    }

    .labelbox {
        margin: -25% 0 -25% 0px;
    }

    h3 {
        font-size: 6vw;  

    }

    .codetype p {
        font-size: 4vw;
    }

    .labelbox2 {
        margin: -25% 0 -25% 0;
    }

    footer nav a {
        font-size: 15px;
        margin: 5px;
        padding: 5px;
    }
}