* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
    
body {
    background-color: rgb(184, 221, 236);
    
}
    /* Header Section Start */
header {
    background-color: lightgreen;
    display: flex;
    justify-content: space-between;
    letter-spacing: 7px;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    background-position: 80%;
    border-bottom:rgb(129, 118, 201) solid 5px;
    

}

header h1 a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(199, 155, 61);
    background-color: rgba(238, 255, 238, 0.70);
    padding: 40px;
    font-weight: 100;
    font-size: 58px;
    margin: 40px 0 40px 0;
    border-radius: 0 20px 20px 0;
    text-shadow: 0 0 15px rgba(253, 252, 252, 0.5);
    
    
    
}

header nav a {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 22%;
    font-size: 20px;
    padding: 15px;
    margin: 160px 20px 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    background-color: rgba(238, 255, 238, 0.70);
    text-shadow: 0 0 5px rgba(0,0,0,0.5); 
}

header nav a:hover {
    background-color: rgba(238, 255, 238, .8);
    text-shadow: none; 
    
}
    /* Hero section Start */
.hero {
    display: flex;
    justify-content: flex-end;
    }


.hero h2 {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(238, 255, 238, 0.70);
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px 0 0 20px;
    color:rgb(185, 136, 156);
    padding: 20px 100px 20px  20px;
    margin-top: 20px;
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 3px;
    text-shadow: 0 0 15px rgba(253, 252, 252, 0.5);
    border-bottom:rgb(129, 118, 201) solid 5px;
    }

    /* About Me Section Start */

    /* <div class="top">
    <div class="reinholz"></div>
    <div class="abo"></div>
    <div class="ork"></div>
    <div class="sume"></div> */

    .top {
        display:flex;
    }
    .top div {
        border: 1px #ccc solid;
        padding: 10px;
    }

    .reinholz{
        flex:4;
    }
    .abo {
        flex:1;
    }
    .ork {
        flex:1;
    }
    .tact {
        flex:1;
    }
    .sume {
        flex:1;
    }

    .hero {
        display: flex;
    }

    .hero div {
        border: 1px #ccc solid;
        padding: 10px;
        
    }

    .herobuffer {
        flex:6
    }

    .herobox1 {
        flex:1;
        
    }




    .container1{
        display:flex;
    }
    .container1 div {
        border: 1px #ccc solid;
        padding: 10px;
    }
    .box1 {
        flex:2;

    }

    .box2 {
        flex:7;

    }

    .box3 {
        flex: 0.5;;

    }

    .container2{
        display:flex;
    }
    .container2 div {
        border: 1px #ccc solid;
        padding: 10px;
    }
    .box4 {
        flex:2;

    }

    .box5 {
        flex:7;

    }

    .nest2 {
        display: flex;
        flex-wrap: wrap;
        

    }
    .egg1 {
        flex:1;
    }

    .egg2 {
        flex:1;
    }

    .nest3 {
        display: flex;
        flex-wrap: wrap;
    }
    .egg3 {
        flex:1;
    }
    .egg4 {
        flex:1;
    }

    .box6 {
        flex: 0.5;

    }


    .bottom {
        display:flex;

    }

    .bottom div {
        border: 1px #ccc solid;
        padding: 10px;

    }

    .findme {
        flex:1.29;

    }

    .phone {
        flex:1;

    }

    .email {
        flex:1;

    }

    .GitHub {
        flex:1;

    }
    .linkedin {
        flex:1;

    }
    .buffer {
        flex: 0.5;
    }

    /* <div class="bottom">
    <div class="findme">Contact Me</div>
    <div class="phone">About Me</div>
    <div class="email">Email</div>
    <div class="GitHub">GitHub</div>
    <div class="linkedin">Linkedin</div>
</div> */








.test {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    
    
    
}

.titlesection {
    display:flex;
    flex-wrap: wrap;
    margin-left: 20px;
    padding: 20px;
    color:rgb(185, 136, 156);
    clear:both;
    /* float: left; */
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 6px;
    text-shadow: 0 0 15px rgba(253, 252, 252, 0.5);
    font-size: 1.2vw;
    border-right: rgb(129, 118, 201) solid 5px;
    text-align: right;
    
}

.about {
    text-align: left;
    margin-left: 20px;
    width: 75%;
    padding: 20px;

}
    /* Work Section Start*/

main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2%;
}


.mainproject {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 1;
    justify-content: flex-end;
    margin-left: 20px;
    
}

.mainproject img{
   background-position: 80%;
    width: 75%;
    border: rgb(129, 118, 201) solid 5px;
    position: relative;
    margin-left: 2%;
    }

.project {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 0;
    justify-content: flex-end;
    margin-left: 20px;
}

.project img {
    background-position: 80%;
    width: 100%;
    border: rgb(129, 118, 201) solid 5px;
    position: relative;
    margin-left: 2%;

}




    /* Contact Me Start*/

    /* Footer Start*/
footer {
    background-color: lightgreen;
    display: flex;
    justify-content: space-between;
    letter-spacing: 7px;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    background-position: 80%;
    border-top: rgb(129, 118, 201) solid 5px;
}


footer h2 {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    list-style: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(199, 155, 61);
    background-color: rgba(238, 255, 238, 0.70);
    padding: 20px;
    font-weight: 100;
    font-size: 30px;
    margin: 30px 0 20px 0;
    border-radius: 0 20px 20px 0;
    text-shadow: 0 0 15px rgba(253, 252, 252, 0.5);
}

footer nav a {
    display: inline-flex;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    padding: 15px;
    margin: 4% 0;
    border-radius: 8px;
    text-decoration: none;
    background-color: rgba(238, 255, 238, 0.70);
    text-shadow: 0 0 5px rgba(0,0,0,0.5); 
}

footer nav a:hover {
    background-color: rgba(238, 255, 238, .8);
    text-shadow: none; 
        
    }